{%extends 'base.html'%}

{% block content %}

<div class = 'bg-text ' style="float:none;margin:auto;">
	<div class = 'col-lg-6 ' style="float:none;margin:auto;">
		<h3 style="text-align:center;background-color:#262625;color:#cf834c;">Password reset sent</h3>


		<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

		<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
	</div>
</div>
{% endblock %}		