{%extends 'base.html'%}

{% block content %}

<div class = 'bg-text ' style="float:none;margin:auto;">
	<div class = 'col-lg-6 ' style="float:none;margin:auto;">
		<h3 style="text-align:center;background-color:#262625;color:#cf834c;">Enter new password</h3>

		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

		<form method="post">

			{% csrf_token %}
			{{form}}
			<input type="Submit" name="Update Password">
			
		</form>
	</div>
</div>		
{% endblock %}