{%extends 'base.html'%}

{% block content %}

<div class = 'bg-text ' style="float:none;margin:auto;">
	<div class = 'col-lg-6 ' style="float:none;margin:auto;">
		<h3 style="text-align:center;background-color:#262625;color:#cf834c;">Password reset</h3>

		<p style="color:#fff;">Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

		<form method="post">

			{% csrf_token %}
			{{form}}
			<input type="Submit" name="Send email">
			
		</form>
	</div>
</div>		
{% endblock %}
