{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1> These Products are Available</h1>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">

				<i class="fa fa-name icon" style="background-color:#262625;width:500px">Price range from ~ to:{{myFilter.form.price_from}}</i>


				<i class="fa fa-name icon" style="background-color:#262625;">{{myFilter.form.name.label}}:{{myFilter.form.name}} {{myFilter.form.category.label}}:{{myFilter.form.category}}</i>
				
				

				<i class="fa fa-name icon" style="background-color:#262625;">{{myFilter.form.tags.label}}:{{myFilter.form.tags}}
				</i>

				<i class="fa fa-name icon" style="background-color:#262625;width:150px;float:right;margin-top: 50px"><a class="btn btn-primary"href="{% url 'products'%}">Clear Search</a></i>


				<button class="btn btn-small-secondary" type="submit" name ='Search'>Search</button>
				
			</form>
		</div>
	</div>
</div>

{% if user.is_staff %}
<a  class="btn btn-outline-dark" href="{% url 'add-product' %}">&#x2B; Add product</a>
{% endif %}
<hr>

<div class='row'>
	{% for product in products %}
	<div class = 'col-lg-3'>
		<img class = 'thumbnail'  src="{{product.product_pic.url}}">
		<div class = 'box-element product'>
			<h6>{{product.name}}</h6>
			<hr>

			<div>
				<h4 style="display: inline-block; float: left;"><strong>&#x20B9; {{product.price}}</strong></h4>

				{% if user.is_staff %}
				<a class="btn btn-small-secondary " style="width:50%;display: inline-block; float: right;" href="{% url 'edit-product' product.id %}">Edit</a>
				{% endif %}
			</div>

			<div >
				<button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart " >Add to Cart</button>

				<a class="btn btn-small-secondary " href="{% url 'view-product' product.id %}">View</a>
			</div>

			
			

		</div>
		
	</div>

	{% endfor %}
	
</div>


{% endblock content %}